torch>=1.7.0
torchtext==0.4.0


spacy>=2.3.0
nltk>=3.5


matplotlib>=3.3.0
seaborn>=0.11.0

#ML
scikit-learn>=0.24.0
numpy>=1.19.0
pandas>=1.1.0


editdistance>=0.5.3
tqdm>=4.50.0

jupyter>=1.0.0
ipython>=7.20.0